/**
 * style.css
 *
 * 适用于整站的样式规则
 */
@charset "utf-8";
@viewport{width:device-width;}

body {color:#111;background-color:#fff;}
.container {padding:0;/* 去掉BootStrap默认的左右内边距 */}

a {color:#333;}
	a:hover {color:#999;}

noscript {color:#032f62;background-color:#dbedff;padding:16px;border:1px solid rgba(27,31,35,0.15);}

header {background:linear-gradient(to right, #ff484c, #ff713e);}

/* 宽度在640像素以上的设备 */
@media only screen and (min-width:641px)
{
	
}

/* 宽度在960像素以上的设备 */
@media only screen and (min-width:961px)
{
	.container {width:960px;}
}

/* 宽度在1280像素以上的设备 */
@media only screen and (min-width:1281px)
{
	.container {width:1280px;}
}