/**
 * style.css
 *
 * 适用于整站的样式规则
 */
@charset "utf-8";
@viewport{width:device-width;}

/* Flat-UI清理 */
.login {color:#111;background:none;padding:0;margin-bottom:0;}

body {color:#333;background-color:#fff;z-index:100;margin-bottom:8rem;}
.container {padding:0;/* 去掉BootStrap默认的左右内边距 */}

a {color:#333;text-decoration:none;/* 清理BootStrap样式 */}
	a:hover {color:#999;}
#maincontainer p>a {color:#16a085;padding:0 0.5rem;}

/* 修复BootStrap样式 */
	ul,ol {margin-bottom:0;}
	.row {margin-left:0;margin-right:0;}
		.row>* {padding-left:0;padding-right:0;}
	.label {margin-right:1rem;}
		.label>a {color:#fff;}
	.panel-body {padding:15px 45px;}

noscript {color:#032f62;background-color:#dbedff;padding:16px;border:1px solid rgba(27,31,35,0.15);}

#header {background:linear-gradient(to right, #ff484c, #ff713e);}

#nav-main {text-align:center;background-color:#fff;position:fixed;bottom:0;left:0;right:0;height:6rem;z-index:101;}
#nav-main ul {height:100%;}
	#nav-main li {width:25%;height:100%;display:inline-block;}
		#nav-main a {width:100%;height:100%;display:block;}
			#nav-main a.active {background-color:#aaa;}

#footer {text-align:center;}

/* 宽度在750像素以上的设备 */
@media only screen and (min-width:751px)
{
	body {margin-bottom:0}

	#nav-main {display:none;}
}

/* 宽度在960像素以上的设备 */
@media only screen and (min-width:961px)
{
	.container {width:960px;}

	#footer {text-align:left;}
}

/* 宽度在1280像素以上的设备 */
@media only screen and (min-width:1281px)
{
	.container {width:1280px;}
}