body {color:#fff;font-size:24px;background-color:#901824;font-family:"微软雅黑",sans-serif;width:750px;}
.container {width:100%;padding:0 20px;}
a {color:#fff;text-align:center;}
figure {display:flex;justify-content:center;align-items:center}
img {width:auto;}

#audio-control {color:#c71c1c;background-color:rgba(255,255,255,0.8);display:block;border-radius:40px;width:80px;height:80px;line-height:80px;text-align:center;position:fixed;top:20px;right:20px;opacity:0.75;z-index:99;}
    #audio-control:hover{background-color:rgba(255,255,255,1);}

#vote-name {text-align:center;}

#vote-url_image {margin-top:0;}
.vote-figure {margin-top:40px;border-radius:15px;overflow:hidden;}

#vote-brief {padding:0 60px;}

#vote-signup {font-size:40px;color:#fff;background-color:#c32c3f;display:block;width:320px;height:90px;line-height:90px;margin:0 auto;border-radius:45px;box-shadow:0 0 8px #81131c;}

/* 倒计时器 */
#counter-container {overflow:hidden;margin-top:60px;}
    #counter-container>* {display:block;float:left;width:auto;height:50px;line-height:50px;}
    #counter-container>p {margin-right:20px;}
    #down-counter {color:#e9c387;font-size:24px;}
    /* 倒计时显示 */
    ul.countdown {list-style:none;display:block;}
    ul.countdown li {display:inline-block;text-align:center;}
        ul.countdown li span {font-size:24px;display:block;width:50px;height:50px;line-height:50px;border:1px solid #fff;}
        ul.countdown li p {color:#fff;font-size:14px;}
        ul.countdown li.seperator {color:#fff;font-size:24px;margin:0 20px;line-height:50px;vertical-align:top;}

#vote-description {margin-top:40px;line-height:46px;}

#info-actions {margin-top:40px;overflow:hidden;}
    #info-actions a {font-size:22px;border-radius:10px;box-shadow:0 0 8px #81131c;float:left;display:block;width:234px;height:68px;line-height:68px;}
#vote-article {color:#8b360d;background-color:#e9c387;}
#media-board {color:#fff;background-color:#c32c3f;margin-left:30px;}

#url_video {background-color:#000;margin:40px 20px 0;}

#vote-extra {background-color:#a02232;overflow:hidden;margin:20px 20px 0;border-radius:15px;box-shadow:0 0 8px #81131c;}
    #vote-extra section {padding:30px 20px 0;}
    #vote-extra .strong {color:#e9c387;background-color:#ad2637;margin-top:30px;padding:30px 20px;}

#vote-searcher {color:#fe596d;border:1px solid #fe596d;width:710px;margin:40px auto 0;border-radius:15px;padding:0;overflow:hidden;}
    #vote-searcher ::-webkit-input-placeholder {color:#fe596d;}
    #search-button {font-size:36px;position:absolute;left:40px;top:20px;line-height:40px;width:40px;height:40px;line-height:40px;}
    #vote-searcher>input {color:#fe596d;background-color:transparent;font-size:30px;display:block;width:100%;height:80px;line-height:80px;padding:0 96px;}

#options-naver {background-color:#a42535;width:710px;margin:20px auto 0;border:1px solid #fe596d;border-radius:15px;overflow:hidden;z-index:98;}
    #options-naver ul {padding:40px 20px 10px;overflow:hidden;}
    #options-naver li {height:50px;line-height:50px;margin-right:20px;margin-bottom:30px;border-radius:24px;}
    #options-naver a {color:#fff;background-color:#901824;text-align:center;display:block;width:100%;height:100%;padding:0 20px;}
        #options-naver a:hover, #options-naver a:active {color:#901824;background-color:#e9c387;}

#vote-options {overflow:hidden;margin-top:40px;}
    .vote-option {color:#fff;background-color:#a42535;font-size:28px;width:345px;margin-bottom:20px;border:1px solid #b12839;border-radius:15px;padding:28px 20px;box-shadow:0 0 8px #81131c;float:left;overflow:hidden;}
        .vote-option:nth-of-type(2n+0) {margin-left:20px;}
    .ballot-count {}
        .ballot-count span {color:#e9c387;font-weight:bold;}

.option-figure {background-color:#333;display:block;margin-top:30px;}
    .option-figure figure {width:305px;height:305px;overflow:hidden;}

    .option-brief>*, .option-actions>* {color:#fff;}
    .option-brief {line-height:28px;}
        .option-brief>*:not(:last-child) {margin-bottom:20px;}
        .option-name {height:32px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
    .option-actions {margin-top:30px;overflow:hidden;}
        .option-actions a {font-size:30px;color:#8b360d;background:url('/media/images/vote/bg-action@3x.png') no-repeat center center;background-size:145px 60px;font-weight:bold;display:block;width:145px;height:60px;line-height:60px;float:left;}
            .option-actions a:last-child {color:#c32c3f;margin-left:13px;}

#loader {color:#901824;width:100%;text-align:center;margin:40px auto;}

/* 以下为全屏容器样式 */
.full-screen {font-family:"苹方",sans-serif;text-align:center;background-color:rgba(0,0,0,0.75);position:fixed;left:0;right:0;top:0;bottom:0;z-index:100;display:none;overflow-y:scroll;}
    .full-screen-container {color:#3d3d3d;background:#fff url('/media/images/vote/bg-fullscreen@3x.png') no-repeat center top;background-size:590px 233px;font-size:30px;width:590px;margin:10% auto;border-radius:30px;padding:233px 0 0;position:relative;overflow-y:scroll;}
    .full-screen-close {color:#c9954b;font-size:26px;position:absolute;top:30px;right:30px;width:26px;height:26px;}
    .full-screen-content {background-color:#fff;padding:55px 30px;}
        .full-screen-title {color:#c9954b;font-size:36px;margin-bottom:50px;}
        .full-screen-content p:not(:last-child) {margin-bottom:1em;}

#form-signup .full-screen-container {color:#c6c6c6;background-image:none;padding-top:0;}
    .form-hint {font-family:smaller;}
    .full-screen-form {text-align:left;}
        .full-screen-form label {color:#727272;margin:30px 0 16px 26px;}
        .full-screen-form .input-group {overflow:hidden;}
            .full-screen-form .input-group div {overflow:hidden;padding:1px;}
        .full-screen-form input, .full-screen-form textarea {background-color:rgb(241,241,241);display:block;width:100%;height:90px;line-height:90px;padding:0 25px;border:1px solid #e7e7e7;border-radius:30px;}
        .full-screen-form [type=text] {}
        .full-screen-form textarea {height:224px;}
        .full-screen-form button {background:url('/media/images/vote/bg-submit@3x.png') no-repeat center center;background-size:528px 90px;width:528px;height:90px;margin-top:20px;text-indent:-9999em;}
#vote-article-content {text-align:left;}

/* 图片上传器样式 */
.upload_preview li {height:168px;}
.selector_zone {width:190px;height:168px;}
.file_selector {color:#c6c6c6;background-color:#f2f2f2;line-height:168px;border:1px solid #e7e7e7;}

#follow-guide img {width:100%;}

#media-list .full-screen-container {width:100%;background-color:#ae2125;background-image:none;padding:26px 30px 32px;}

/* 右下角页面内导航工具 */
#naver-inpage {width:80px;height:auto;position:fixed;bottom:70px;right:64px;z-index:99;}
    #naver-inpage li {text-align:center;border-radius:40px;width:80px;height:80px;line-height:80px;opacity:0.75;overflow:hidden;}
        #naver-inpage li:not(:first-child) {margin-top:28px;}
        #naver-inpage a {color:#999;font-size:34px;background-color:#fff;display:block;width:100%;height:100%;}